@import 'lxgw-wenkai-lite-webfont/style.css';

:root {
  font-family: "LXGW WenKai Lite", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, #root {
  margin: 0;
  min-width: 100vw;
  min-height: 100vh;
}
